@inject TokenProvider TokenProvider

<CascadingAuthenticationState>
	<Router AppAssembly="typeof(Program).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
				<NotAuthorized>
					<ErrorPageComponent ErrorType="404" ShadowColor="shadow-red-500" TextColor="red-600"></ErrorPageComponent>
				</NotAuthorized>
				<Authorizing>
					<div class="main">Please wait...</div>
				</Authorizing>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<LayoutView Layout="typeof(MainLayout)">
				<ErrorPageComponent ErrorType="404" ShadowColor="shadow-yellow-500" TextColor="yellow-600"></ErrorPageComponent>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>

@code {
	[Parameter]
	public InitialApplicationState? InitialState { get; set; }

	protected override Task OnInitializedAsync()
	{
		TokenProvider.AccessToken = InitialState?.AccessToken;
		TokenProvider.IdToken = InitialState?.IdToken;
		TokenProvider.RefreshToken = InitialState?.RefreshToken;

		return base.OnInitializedAsync();
	}
}